* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --main-color: rgb(0, 0, 136);
}

::-webkit-scrollbar {
    width: 15px;

}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E97F02;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.address {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 50PX;
}

.address button {
    --c: #fff;
    background:
        linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p, 100%)/300% no-repeat,
        #E97F02;
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg*var(--_i, -1)));
    text-shadow:
        calc(var(--_i, -1)* 0.08em) -.01em 0 var(--c),
        calc(var(--_i, -1)*-0.08em) .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;
}

.address button:hover,
.address button:focus-visible {
    --_p: 0%;
    --_i: 1;
}

.address button:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
}

.address button {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    padding: 18px 50px;
    font-size: 25px;
}

header nav {
    padding: 15px 0;
    width: 66%;
}

.brand {
    color: #E97F02;
    width: 34%;
    padding: 15px 0;
}

header nav a {
    margin: 0 20px;
    font-size: 25px;
    color: #E97F02;
    font-weight: bold;
}

@media(max-width: 767px) {
    header nav a {
        margin: 0 10px;
        font-size: 15px;
    }

    header nav {
        padding: 5px 0;
    }

    .brand {
        display: none;
    }
}

header nav a:hover {
    color: rgb(53, 53, 186);
}

.login-site {
    position: absolute;
    right: 0px;
    background-color: #34465D;
    padding: 4px;
    border-radius: 3px;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    -webkit-box-shadow: 0px 22px 27px -5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 22px 27px -5px rgba(255, 255, 255, 1);
    box-shadow: 0px 22px 27px -5px rgba(255, 255, 255, 1);
    height: 0;
}

.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 50px;
}

.container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 48%;
    top: 120px;
    z-index: 1;
}

@media(max-width: 767px) {
    .container img {
        position: absolute;
        left: 40%;
        top: 120px;
    }
}

.container .info h1 {
    color: white;
    text-align: center;
    padding-top: 195px;
}

.container .info p {
    padding: 30px;
}

.container .info span {
    color: #E97F02;
}

.container .social {
    text-align: center;
    padding-top: 40px;
    color: white;
    font-size: 40px;
}

.container .social i {
    margin: 0 20px;
}

.container .social .facebook {
    color: #1877F2;
}

.container .social .instagram {
    color: #E4405F;
}

.container .social .github {
    color: #34465D;
}

.container .social .whatsapp {
    color: #25D366;
}

.container .contact {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container .contact .ga {
    border-radius: 6px;
    background-color: #E97F02;
    padding: 8px 20px;
    margin-right: 8px;
    font-size: 22px;
    cursor: pointer;
}

.container .contact .ca {
    border-radius: 6px;
    background-color: #25D366;
    padding: 8px 20px;
    margin-left: 8px;
    font-size: 22px;
    cursor: pointer;
}

.gallery section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/background-gallery.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery .boxes {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    padding: 15px;
}

.gallery .boxes .box {
    height: 300px;
    border: 1px solid #000000;
    padding: 2px;
    background-color: #ccc;
    border-radius: 13px;
    max-width: 360px;
    transition: 0.7s;
}

.gallery .boxes .box:hover {
    transform: rotate(-1deg);
}

.gallery .boxes .box img {
    max-width: 352.5px;
    border-radius: 13px;
    transition: 0.7s;
}

.gallery .boxes .box:hover img {
    opacity: 0.7;
    scale: 1;
}

.gallery .boxes .box h3 {
    text-align: center;
    color: #E97F02;
}

.gallery .boxes .box p {
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    margin-bottom: 20px;
}

.gallery .boxes .box span {
    position: absolute;
    margin-left: 20px;
    background-color: #E97F02;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    transition: 0.7s;
}

.gallery .boxes .box span:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

.About-Me-2 {
    position: relative;
    top: 15px
}

.About-Me {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/background-about-mem.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.About-Me .info {
    max-width: 90%;
    position: relative;
    left: 90px;
}

@media(max-width: 767px) {
    .About-Me .info {
        text-align: center;
        left: 25px;
    }
}

.About-Me .info h2 {
    color: white;
    padding: 45px 0 20px 0;
    font-size: 40px;
    font-weight: bold;
}

.About-Me .info h2 span {
    color: #E97F02;
}

.About-Me .info p {
    font-size: 22px;
    padding: 15px 0 15px 40px;
    position: relative;
    color: #ccc;
}

.About-Me .info p::before {
    content: "";
    position: absolute;
    border-color: transparent transparent transparent rgb(255, 204, 0);
    border-style: solid;
    border-width: 7px;
    border-style: solid;
    border-width: 7px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

}

.contact-us {
    margin-left: 10px;
    margin-right: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/background-contact-us.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ccc;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 20px
}

.contact-us .boxes {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    gap: 30px;
}

@media (max-width: 767px) {
    .contact-us .boxes {
        flex-direction: column;
        align-items: center;

    }

    .contact-us {
        height: 1200px;
    }
}

.contact-us .boxes .box {
    text-align: center;
    background-color: #78787863;
    height: 200px;
    width: 300px;
    position: relative;
    border-radius: 10px;
}

.contact-us .boxes .box i {
    background-color: #E97F02;
    padding: 20px;
    color: #000000;
    font-size: 35px;
    border-radius: 50%;
    position: relative;
    top: -10%;
}

.contact-us .boxes .box span {
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: #454545b3;
    color: #ccc;
    padding: 8px 5px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.contact-us .boxes .box span i {
    font-size: 15px;
    background-color: transparent;
    padding-right: 10;
    color: #ccc;
}

footer {
    background-color: #000000;

}

footer .info {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    align-items: center;
}

footer .info h3 {
    font-size: 30px;
    color: #E97F02;
}

footer .info p {
    color: #ccc;
}

footer .info p span {
    color: #E97F02;
}

footer .info i {
    color: #E97F02;
    font-size: 30px;
    position: relative;
    right: 50px;
}

@media(max-width: 767px) {
    footer .info {
        padding: 6px 2px;
    }

    footer .info h3 {
        display: none;
    }

    footer .info p {
        font-size: 11px;
        position: absolute;
        left: 40px;
    }

    footer .info i {
        display: none;
    }
}